# Ignore the virtual environment
env/**

# Apple configuration
.DS_Store

# Ignore results
originals/**
originals_medium/**
originals_all/**
originals_test/**
processed_a/**
processed_r/**
preprocessed/**
lifecycle/**

# Ignore Python compiled files
*.pyc
